<!doctype html>
<html class="no-js" lang="{{ site.language }}">
	<head>
		<meta charset="{{ site.charset }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#ffffff">
		<script type="text/javascript">
		  const ajax_url = '{{ ajax_url }}';
		</script>
		{{ fn('wp_head') }}
		{% block head %}
		{% endblock %}
	</head>
	<body class="{{ body_class }}{{ extra_body_class }}">
		{{ fn('wp_body_open') }}
		<nav></nav>
		<header>
			{% block header %}
			{% endblock %}
		</header>
		<main>
			{% block main %}
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
			{% endblock %}
		</footer>
		{{ fn('wp_footer') }}
	</body>
</html>
{{ flush }}